.globalContainer{
    max-width: 1200px;
    margin: auto;
}
.selectorContainer{
    display: flex;
    align-items: flex-start;
    margin-bottom: 2.3vh;
    max-height: 5vh;
}
.itemsContainer{
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    max-height: 55vh;
    margin-left: -20px;
}
.footer{
    position: absolute;
    max-height: 13vh;
    bottom: 9.8vh;
    left: 0;
    width: 100%;
}