

.selectContainer {
	user-select: none;
  position: relative;
	display: flex;
	align-items: center;
  width: 240px;
  height: 32px;
  padding: 0px 12px 0px 12px;
  border-radius: 4px;
  border: solid 1px #2e2e2e;
  background-color: #fff;
	box-sizing: border-box ;
	cursor: pointer;
}

.selectLabel {
  width: 183px;
  height: 22px;
  margin: 0 19px 0 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #343434;
}

.selectIcon{
	width: 25px;
  height: 25px;
  margin: 4px 0 4px 19px;
  padding: 4px 2px 3px;
  color: #2e2e2e;

}

.selectMenu {
	z-index: 10;
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  margin: 0 0 0 1px;
  /* padding: 15px 144px 12px 10px; */
  box-shadow: 0 2px 2px 0 #dad8d8;
  background-color: #fff;
	transition: all .5s;
}
.selectOption {
  display: flex;
	align-items: center;
  width: 100%;
  height: 46px;
  background-color: #eaeaea20;
	cursor: pointer;
}
.selectOption:hover{
  background-color: #eaeaea60;
}

.selectOptionImg {
  width: 24px;
  height: 24px;
	margin: 13px;
	opacity: 1;
  object-fit: contain;
}

.selectOptionLabel {
  height: 22px;
	font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #343434;
	opacity: 1;
}
